{% extends 'inc/base.html' %}
{% load static %}

{% block title %}
  Ask
{% endblock %}

{% block authorization %}
  {% include 'inc/authorized.html' %}
{% endblock %}

{% block content %}
  <h2>New question</h2>
  <form class="mt-3">
    <div class="row">
      <div class="col-1">
        <label for="title" class="col-form-label">Title</label>
      </div>
      <div class="col-11">
        <input class="form-control" id="title" type="text" size="100" maxlength="100"
               required>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-1">
        <label for="text" class="col-form-label">Text</label>
      </div>
      <div class="col-11">
        <textarea class="form-control" id="text" rows="10" required></textarea>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-1">
        <label for="tags" class="col-form-label">Tags</label>
      </div>
      <div class="col-11">
        <input class="form-control" id="tags" type="text" aria-describedby="tags-hint"
               size="100" maxlength="100">
        <small class="form-text" id="tags-hint">
          Enter tags separated by space
        </small>
      </div>
    </div>
    <button class="btn btn-success mt-4" type="submit">Ask question</button>
  </form>
{% endblock %}
