{% extends 'inc/question.html' %}

{% block question-rating %}
  <h5 class="m-1">{{ question.rating }}</h5>
{% endblock %}

{% block question-title %}
  <a class="card-link" href="{% url 'question' question.id %}">{{ question.title }}</a>
{% endblock %}

{% block question-text %}
  {{ question.text|truncatewords:30 }}
{% endblock %}

{% block question-answers %}
  <a class="mt-3 card-link link-secondary" href="{% url 'question' question.id %}">
    {{ question.answers|length }} answers
  </a>
{% endblock %}
