{% extends "inc/base.html" %}

{% load static %}

{% block title %}
  Questions
{% endblock %}

{% block content %}
  <div class="mb-4">
    <h2 class="d-inline">New questions</h2>
    <a class="ms-4" href="{% url 'hot' %}">hot questions</a>
  </div>
  {% for question in page.obj %}
    {% include 'inc/question.html' %}
  {% endfor %}
  {% include 'inc/pagination.html' %}
{% endblock %}

{% block extra_scripts %}
  <script src="{% static "js/jquery-3.7.0.min.js" %}"></script>
  <script src="{% static "js/main.js" %}"></script>
{% endblock %}
