{% extends 'inc/base.html' %}

{% load static %}
{% load bootstrap5 %}

{% block title %} Question {% endblock %}

{% block content %}
  {% include 'inc/question-full.html' %}
  {% for answer in answers %}
    {% include 'inc/answer.html' %}
  {% endfor %}
  {% bootstrap_form_errors form %}
  <form action="{% url 'question' question.id %}" method="post" class="my-4">
    {% csrf_token %}
    {% bootstrap_label "Your answer" label_for="id_text" label_class="h4" %}
    {% bootstrap_field form.text show_label=False %}
    {% bootstrap_button "OK" button_type="submit" %}
  </form>
{% endblock %}
