{% extends 'inc/base.html' %}

{% load static %}

{% block title %} Tag {% endblock %}

{% block content %}
  <div class="mb-3 d-flex align-items-center">
    <h2 class="d-inline me-3">Tag: </h2>
    {% include 'inc/tag.html' %}
  </div>
  {% for question in page.obj %}
    {% include 'inc/question.html' %}
  {% endfor %}
  {% include 'inc/pagination.html' %}
{% endblock %}

{% block extra_scripts %}
  <script src="{% static "js/jquery-3.7.0.min.js" %}"></script>
  <script src="{% static "js/main.js" %}"></script>
{% endblock %}
