{% load static %}

<div class="card mb-3">
  <div class="card-body">
    <div class="row">
      <div class="col-2 d-flex flex-column align-items-center">
        <input type="radio" class="btn-check" name="answer-vote-{{ answer.id }}"
               id="answer-vote-up-{{ answer.id }}">
        <label class="btn btn-light" for="answer-vote-up-{{ answer.id }}">
          <img src="{% static 'img/chevron-up.svg' %}" alt="vote up">
        </label>
        <h5 class="m-1">{{ answer.rating }}</h5>
        <input type="radio" class="btn-check" name="answer-vote-{{ answer.id }}"
               id="answer-vote-down-{{ answer.id }}">
        <label class="btn btn-light" for="answer-vote-down-{{ answer.id }}">
          <img src="{% static 'img/chevron-down.svg' %}" alt="vote down">
        </label>
      </div>
      <div class="col-10 d-flex flex-column">
        <p class="card-text flex-grow-1">{{ answer.text }}</p>
        <div class="row">
          <div class="col-9">
            {# TODO: разобраться с чекбоксами #}
            <input type="checkbox" class="btn-check" id="answer-checkbox-{{ answer.id }}">
            <label class="btn btn-outline-success" for="answer-checkbox-{{ answer.id }}">
              Correct
            </label>
          </div>
          <div class="col-3 d-flex justify-content-center align-items-center">
            {# TODO: разобраться с аватарками #}
            <img class="me-2 rounded-circle avatar" src="{% static 'img/avatar.png' %}"
                 alt="avatar">
            <span>{{ answer.profile.user.username|truncatechars:10 }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
