{% load static %}

<div class="dropdown">
  <span class="text-light">{{ user.first_name }} {{ user.last_name }}<span>
  <button class="btn btn-dark dropdown-toggle" type="button"
          data-bs-toggle="dropdown" aria-expanded="false">
    <img class="avatar" src="{{ user.profile.avatar.url }}">
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'settings' %}">Settings</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item"
           href="{% url 'logout' %}?next={{ request.path }}">Log out</a></li>
  </ul>
</div>
