{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  <link rel="shortcut icon" type="image/x-icon" href="{% static "img/logo.png" %}">
  <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
  <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
  <nav class="navbar navbar-dark bg-dark mb-4">
    <div class="container">
      <div class="d-flex align-items-center">
        <img class="me-2 logo" src="{% static "img/logo-white.png" %}" alt="logo">
        <a class="navbar-brand" href="{% url 'index' %}">Segmentation <b>fault</b></a>
      </div>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search..."
               aria-label="Search">
        <a class="btn btn-success" href="{% url 'ask' %}">Ask</a>
      </form>
      {% block authorization %}
        {% include 'inc/unauthorized.html' %}
      {% endblock %}
    </div>
  </nav>
  <main class="container">
    <div class="row">
      <div class="col-8">
        {% block content %}{% endblock content %}
      </div>
      <div class="col-3 offset-1">
        <div class="card mb-4">
          <div class="card-body">
            <h3 class="card-title">Popular tags</h3>
            {% for tag in popular_tags %}
              {% include 'inc/tag.html' %}
            {% endfor %}
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Best members</h3>
            <ul>
              {% for member in best_members %}
                <li class="mb-1">
                  <span>{{ member.user.username }}</span>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
