{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  <link rel="shortcut icon" type="image/x-icon"
        href="{% static "img/logo.png" %}">
  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
  <nav class="navbar navbar-dark bg-dark mb-4">
    <div class="container" style="height: 45px;">
      <div class="d-flex align-items-center">
        <img class="me-2 logo" src="{% static "img/logo-white.png" %}"
             alt="logo">
        <a class="navbar-brand" href="{% url 'index' %}">
          Segmentation <b>fault</b>
        </a>
      </div>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search..."
               aria-label="Search">
        <a class="btn btn-success" href="{% url 'ask' %}">Ask</a>
      </form>
      {% if user.is_authenticated %}
        {% include 'inc/authorized.html' %}
      {% else %}
        {% include 'inc/unauthorized.html' %}
      {% endif %}
    </div>
  </nav>
  <main class="container">
    <div class="row">
      <div class="col-8">
        {% block content %}{% endblock content %}
      </div>
      <div class="col-3 offset-1">
        <div class="card mb-4">
          <div class="card-body">
            <h3 class="card-title">Popular tags</h3>
            {% for tag in popular_tags %}
              {% include 'inc/tag.html' %}
            {% endfor %}
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Best members</h3>
            <ul>
              {% for member in best_members %}
                <li class="mb-1">
                  <span>{{ member.user.username }}</span>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <footer class="d-flex flex-wrap justify-content-between align-items-center
                   py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <img class="me-2 logo" src="{% static "img/logo.png" %}" alt="logo">
      </a>
      <span class="mb-3 mb-md-0 text-muted">
        © 2023 Segmentation fault, Inc
      </span>
    </div>
  </footer>
  </main>
  <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
  {% block extra_scripts %}{% endblock %}
</body>
</html>
